body{
   background-color: darkgrey;
}

h1{ 
    font-size: 50px;
    border: 2px solid #020202; 
    padding: 10px;             
    margin: auto;       
    width: fit-content;        
    border-radius: 10px;    
    background-color: rgb(190, 172, 149);
    text-align: center;
    font-family:'Times New Roman', Times, serif
}


.h2{
    margin: 10px;
    text-align: center;
}

.form_tabla{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  border-collapse: collapse;
  background: white;
  padding: 15px;
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 9px 4px 10px rgba(0,0,0,0.1); 
    
}



.form_tabla td:first-child {
  padding: 12px;
  vertical-align: middle;
  font-weight: bold;
  color: darkblue;
}

.form_tabla label {
  font-weight: bold;
  color: #000000;
}

.form_tabla input[type="date"],
.form_tabla textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.form_tabla input[type="date"]:focus,
.form_tabla textarea:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.4);
  outline: none;
}


.form_tabla textarea {
  resize: none;
  height: 80px;
}

.form_tabla button {
  display: block;
  width: 100%;
  margin: 15px auto 0 auto;
  background: #4caf50;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}


.form_tabla button:hover {
  background: #43a047;
}


.mensaje {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  display: none;
}


.mensaje.exito {
  display: block;
  background: #e0ffe0;
  color: #2e7d32;
  border: 1px solid #2e7d32;
}


.mensaje.error {
  display: block;
  background: #ffe0e0;
  color: #c62828;
  border: 1px solid #c62828;
}

.perrito{
    margin: 20px auto;
    bottom: 30px;
    left: 30px;
    transform: translate(-50%, 0);
    width: 100px;
    border-radius: 10px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.filtros{
  display: flex;
  gap: 10px;
  margin-top: 20px; 
}

.form_tabla button::after {
  content: " ➜";
}

h1::before {
  content: "📌 ";
}